<!DOCTYPE html>
<html ng-app="main">
<head>
    <title>Example</title>
    <meta charset="utf-8" />

    <!-- lib -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- App script -->
    <script src="app.js"></script>

    <!-- this component -->
    <script src="../dist/js/angular-value-not-in-objects.js"></script>

    <!-- Controllers -->
    <script src="exampleWithAllowedIdCtrl.js"></script>
    <script src="telephone.js"></script>
</head>
<body ng-controller="ExampleWithAllowedIdCtrl as example">
    <h1>Example of valueNotInObjectsDirective with allowed id</h1>
    <p>This example also contains the 'value-not-in-objects-allow-id'-attribute. You can use this attribute when you copied an object from the list. When the directive is checking if the value is not in the list, it will ignore the object with the id in the 'value-not-in-objects-allow-id'-attribute. The objects must contain an 'id' property because there is no value-not-in-objects-allow-property (see example 3). id must be a number.</p>
    <p>The numbers below must be unique.</p>
    <div ng-repeat="telephone in example.Telephones">
        <span ng-bind="telephone.type"></span>: <span ng-bind="telephone.number"></span> <a href="#" ng-click="example.edit(telephone.id)">edit</a>
    </div>
    <a href="index.html">Back</a>
    <hr />
    <form ng-hide="example.overlayHidden" name="phonesForm" novalidate>
        <input type="text" name="phoneNumber" ng-model="example.currentTelephone.number" value-not-in-objects="example.Telephones" value-not-in-objects-key="number" value-not-in-objects-allow-id="{{example.currentTelephone.id}}" ng-required="true" />
        <ul>
            <li ng-repeat="(key, errors) in phonesForm.$error track by $index">
                <strong>{{ key }}</strong> errors
                <ul>
                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                </ul>
            </li>
        </ul>
        <a href="#" ng-click="example.closeOverlay()">Close</a>
    </form>
</body>
</html>